<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundao">

  <ion-grid class="div-bg">
    <ion-row>
      <ion-col class="ion-text-center">
        <br>
        <img src="assets/imgs/logo_academy.svg" />
        <div class="txtWhite font20">
          <p>O código deste aplicativo foi desenvolido e disponibilizado como parte integrante do conteúdo
            das aulas da sprint:
            <br>
            <strong>Computação Ubíqua e desenvolvimento de Aplicativos Mobile.</strong> 
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
