<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="local-bg">

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <br>
        <img src="assets/imgs/logo_academy.svg" />
        <div class="txtWhite font20">
          <p>O código deste aplicativo foi desenvolido e disponibilizado sob a licença "Creative Commons Public License" como parte integrante do conteúdo
            das aulas da sprint:
            <br>
            <strong>Computação Ubíqua e desenvolvimento de Aplicativos Mobile.</strong> 
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar mode="ios" color="success">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <div><strong>Creative Commons Public License</strong></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="font12">
            <p>Creative Commons Corporation ("Creative Commons") is not a law firm and
              does not provide legal services or legal advice. Distribution of
              Creative Commons public licenses does not create a lawyer-client or
              other relationship. Creative Commons makes its licenses and related
              information available on an "as-is" basis. Creative Commons gives no
              warranties regarding its licenses, any material licensed under their
              terms and conditions, or any related information. Creative Commons
              disclaims all liability for damages resulting from their use to the
              fullest extent possible.</p>
            <p><i>Qualquer dúvida, por favor entrar em contato com o atendimento aos alunos na plataforma Startup Academy.</i></p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>