<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
  <ion-row>
    <ion-col class="ion-text-center">
      <img *ngIf="weatherIcon" class="imgSize" src="{{weatherIcon}}" />
      <h2> {{ dataWeather?.name }} </h2>
      <p>Temperatura:  <span>{{ dataWeather?.main?.temp }}</span></p>
      <p>Descrição:  <span class="ion-capitalize">{{ dataWeather?.weather[0]?.description }}</span></p>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
